.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    background: white;
    width: 60vw;
    max-height: 100vh;
    overflow-y: auto;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.1);
    position: relative;
    z-index: 1010;
}

.image {
   width: 100%;
    margin: auto;
}

.section h2{
    color: var(--red-main);
    font-family : var(--title-font), sans-serif;
}
.p {
    white-space: pre-line;
}