.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    margin : var(--padding-section);

}

.div {
    margin : 2em 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.h1 {
    font-family: var(--title-font), sans-serif;
    font-size: var(--title-size-h1);
    letter-spacing: 8px;
    color :var(--grey-effect);
    position : relative;
    top : 4vh;
    @media screen and (max-width : 568px) {
        font-size: var(--title-size-h1-resp);
    }
}


.h1b {

    font-family: var(--title-font), sans-serif;

    font-size: var(--title-size-h1b);
    letter-spacing: 8px;
    position : relative;
    color : var(--red-main);
    bottom : 4vh;
    @media screen and (max-width : 568px) {
        font-size: var(--title-size-h1b-resp);
        bottom : 2vh;
    }
}



.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    z-index: 1000;

}

