
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    @media screen and (max-width: 568px){
        width: 100%;
        align-items: center
    }
    @media screen and (min-width: 569px) and (max-width : 1024px) {
        text-align: center;
        margin: auto;
    }
}
.h1 {
    font-family: var(--title-font), sans-serif;
    font-size: var(--title-size-h1);
    letter-spacing: 8px;
    color :var(--grey-effect);
    position : relative;
    top : 4vh;
    @media screen and (max-width : 568px) {
        font-size: 2.3em;
    }

}


.h1b {

    font-family: var(--title-font), sans-serif;

    font-size: var(--title-size-h1b);
    letter-spacing: 8px;
    position : relative;
    color : var(--red-main);
    bottom : 4vh;
    @media screen and (max-width : 568px) {
        font-size: 1.8em;
        bottom : 0;
    }
    @media screen and (min-width: 569px) and (max-width : 1024px) {
        bottom : 2vh;
    }

}

.image {
    @media screen and (max-width: 568px) {
        width : 80vw;
        height : auto;
    }
}