.section{
    display: flex;
    gap : 4em;
    margin : 10vh;
}

.figure {
    position: relative;
    width: 50vw;
    height: 60vh;
    background-color: var(--red-main);

}

.image {
    object-fit: contain;
    border : solid 1px var(--red-main);

}

.sectionInfo{
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.h1 {
    font-size: 3em;
    color : var(--red-main);
    font-family : var(--title-font), sans-serif;
    letter-spacing: 0.1em;

}

.info {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.ul{
    list-style: none;
    padding-left: 1em;
    line-height: 2em;
    font-size: 1.5em;
}