
.nav {
    background-color: var(--red-main);
    padding: 1rem;
    height: 8vh;
    position: relative;
    @media screen and (max-width: 1024px){
        height: fit-content;
    }
}

.burgerButton {
    display: none;
    background: none;
    border: none;
    color: white;
    @media screen and (max-width: 1024px){
        display: block;

    }
}

.navList {
    display: flex;
    gap: 5em;
    list-style: none;
    justify-content: center;
    @media screen and (max-width: 1024px){
        display: none;
        gap: 1.5em;
    }
}

.navMobileOpen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--red-main);
    padding: 1rem;
    z-index: 100;
}

.ul li{
    list-style: none;
    color : var(--white-main);

}

.link {
    text-decoration: none;
    color: var(--white-main);
    font-size: 1.2em;
    @media screen and (max-width: 1024px) {
        margin-left: 1em;
    }
}

.dropDownMenu{
    font-size: 1.2em;
    position: relative;
    color: var(--white-main);
    @media screen and (max-width: 1024px) {
        margin-left: 1em;
    }
}

.dropDown{
    display: none;
    position: absolute;
    background-color: var(--red-main);
    width : 8vw;
    padding: 0.5em;
    border: 1px solid var(--white-main);
    border-radius: 5px;
    list-style: none;
    z-index: 10;

    @media screen and (max-width: 1024px) {
        width : 40vw;
    }
}


.liDropdown{
    padding : 0.2em 0.5em;

}

.liDropdown:hover{
    background-color: var(--white-main);
    color: var(--red-main);

}

.dropDownMenuTrigger:hover + .dropDown,
.dropDown:hover{

    display: block;
}

.subLink {
    color : var(--white-main);
    text-decoration: none;
    width: 100%;
    display: block;
}

.subLink:hover {
    color: var(--red-main);
}

.imageContainer{
    @media screen and (max-width: 1024px){
        width: 0;
        height: 0;

    }
}

.image {
    position : relative;
    bottom: 2em;
    @media screen and (max-width: 1024px){
        position: absolute;

        top: 0;
        right: 0;

    }
}

/*.burgerMenu{*/
/*    display: none;*/
/*    background-color: transparent;*/
/*    border: none;*/
/*    padding: 1em;*/
/*    @media screen and (max-width: 1024px) {*/
/*       display: block;*/
/*    }*/
/*}*/