.sectionLayout {
    display: flex;
    height: fit-content;
}
.aside{
    background-color: var(--red-main);
    min-height: 100vh;
}
.main{
    flex: 1;
    padding: var(--padding-section);
}