.section {

    margin : auto;
    min-height: 80vh;
    background-color: var(--black-text);
    border-bottom: 1px solid var(--white-main);
}

.form {
    transform : translateY( 20%);
    width: 25vw;
    margin : auto;

}

.fieldset {
    background-color: var(--red-main);
    color: var(--white-main);
    min-height: 25vh;
    padding : 1em;
}

.legend {
    font-size: 1.8em;
    text-align: center;

}

.div {
    display : flex;
    flex-direction: column;
    gap: 1em;
    font-size: 1.5em;
}


.div input {
    height: 4vh;
    border-radius : 5px;
    margin-bottom: 1em;
}

.divPass {
    display: flex;
    justify-content: center;
    gap: 0.2em;
}

.inputPass{
    width : 100%;
}

.buttonSee{
    border: none;
    background-color: transparent;
    height: 4vh;
}
.button {
    display: block;
    margin : 3vh auto;
    padding : 0.5em 4em;
    background-color: var(--white-main);
    border: 1px solid var(--red-main);
    font-family: var(--paragraph-font), sans-serif;
    font-size: 1.2em;
    border-radius: 5px;
}