.nav {
    background-color: var(--red-main);
    width : fit-content;
    padding : var(--padding-section);
    min-height : 100vh;
}
.nav ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.nav ul li{
    list-style: none;
}

.button {
    background-color: var(--red-main);
    border : none;
    font-family: var(--title-font), sans-serif;
    font-size : 1.5em;
    cursor: pointer;
    color : var(--white-main);

}

.menu{
    margin-left : var(--padding-section);
    font-size : 1.2em;
    text-decoration: none;
    color : var(--black-dark);
}

.menu:hover{
    color: var(--white-main)
}

.buttonMenu {
    background-color: var(--red-main);
    border : solid var(--white-main) 1px;
    margin-bottom : 3em;

}
.buttonLogout{
    background-color: var(--red-main);
    border : none;
    display: block;
    margin : 5vh auto;
    cursor: pointer;
}

.divLogout{
    border : 2px solid var(--white-main);
    padding : 1em 2em;
}